<div class="container">
    <div class="row">
        <div class="col s12 m12">
            <h1 id="titleAdvert"></h1>
        </div>
        <div class="col s12 m12">
            <h6 id="category"></h6>
        </div>
        <div class="col s12 m12" id="imageAdvert">

        </div>
        <div class="col s12 m12">
            <p id="price"></p>
        </div>
        <div class="col s12 m12">
            <p>Description: </p>
        </div>
        <div class="col s12 m12">
            <p id="contentAdvert"></p>
        </div>
        <div class="col s12 m12">
            <p id="dateContactAuthor"></p>
        </div>
    </div>
</div>