<div class="container">
    <div class="row">
        <div class="input-field col s12 m6 l4 ">
            <select onchange="indexController.setQuery()" multiple id="selectCategory">
            </select>
            <label>Catégorie: </label>
        </div>
        <div class="input-field col s4 m6 l2">
            <input id="priceMin" type="number" onblur="indexController.setQuery()">
            <label for="priceMin">Prix minimum: </label>
        </div>
        <div class="input-field col s4 m6 l2">
            <input id="priceMax" type="number" onblur="indexController.setQuery()">
            <label for="priceMax">Prix Maximum: </label>
        </div>
        <div class="input-field col s4 m6 l2">
            <select id="selectTriDate" onchange="indexController.setQuery()">
                <option value="">-------------</option>
                <option value="ASC">Croissant</option>
                <option value="DESC">Décroissant</option>
            </select>
            <label>Trier par date: </label>
        </div>
        <div class="input-field col s4 m6 l2">
            <select id="selectTriPrice" onchange="indexController.setQuery()">
                <option value="">-------------</option>
                <option value="ASC">Croissant</option>
                <option value="DESC">Décroissant</option>
            </select>
            <label>Trier par prix: </label>
        </div>
    </div>
    <div id="mainAdvertsList">
        <div class="row" id="advertsList">
        </div>
    </div>
    <div id="pagination" class="row">

    </div>
</div>

